*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(182, 84, 177);

}

.quote-box{
    font-family: 'Poppins', sans-serif;
    background: rgb(214, 168, 240);
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 50px;
    box-shadow: 0px 10px 20px 0px rgb(0,0,0,0.15);
    border-radius: 10px;
}   
.quote-box h2{
    font-size: 45px;
    margin-bottom: 40px;
    position: relative;
}
.quote-box h2::after{
    content:'';
    width: 75px;
    height: 6px;
    border-radius: 3px;
    background: rgba(23, 124 , 129);
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translate(-50%);
}

.quote-box blockquote{
    font-size: 26px;
    min-height: 110px;

}
.quote-box blockquote ::before, .quote-box blockquote ::after{
    content : '"';
}
.quote-box span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}
.quote-box span::before{
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(23, 124 , 129);
    position: absolute;
    top: 50%;
    left: -30px;
}

.quote-box div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.quote-box button{
    background: #000000;
    color: #fefefe;
    border-radius: 25px;
    border: 1px solid rgb(23, 124 , 129);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 15px;
    
    cursor: pointer;
    font-family: 'Poppins', sans-serif;

}

.quote-box button img{
    width: 20px;
    margin-right: 10px;
    
}
.quote-box button:nth-child(2){
    background: #fefefe;
    color: #000000;

}
#author{
    font-style: italic;
}